<!DOCTYPE html>
<html lang="en">
<head>
   
    <style>
        h1 {
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <main class = "add-remove-main">
        <div class="add-remove-container">
            <h1>Add Songs</h1>
            <input type="text" class="add-remove-search-bar" id="song-search-bar" placeholder="Search...">
            <ul id="song-list" class="scrollable-list">
                <li>
                    Song Result
                    <input type="checkbox" class="checkbox">
                </li>
                <li>
                    Song Result
                    <input type="checkbox" class="checkbox">
                </li>
                <li>
                    Song Result
                    <input type="checkbox" class="checkbox">
                </li>
                <li>
                    Song Result
                    <input type="checkbox" class="checkbox">
                </li>
                <li>
                    Song Result
                    <input type="checkbox" class="checkbox">
                </li>
                <li>
                    Song Result
                    <input type="checkbox" class="checkbox">
                </li>
            </ul>
            <button onclick="alert('Songs Added')" class="add-button" id="addSongButton">Add Songs</button>
            <dialog id="add songs dialog">
                <p>Songs added.</p>
                <button id="closeDialogButton">Close</button>
            </dialog>
        </div>
    </main>
</body>