
    <div class= "grid" id = "listener-grid">
        <div class="container" id="leftContainer">
            
            <!--<nav class="navbar">
                <div class="navbuttons">
                  <a href="/add-songs">Add Songs</a>
                  <a href="/remove-songs">Remove Songs</a>
                  <a href="/listener">Listener</a>
                </div>
            </nav>-->
            <!--<ul class="scrollable-list" id="listenerPageLikedDJsList">
                <li>Song Name</li>
                <li>Song Name</li>
                <li>Song Name</li>
                <li>Song Name</li>
                <li>Song Name</li>
                <li>Song Name</li>
                <li>Song Name</li>
                <li>Song Name</li>
                <li>Song Name</li>
            </ul>-->
        </div>
        <div class ="container" id= "central-container">
            <div class = "container" id = "clock"></div>
            <div class="container" id="container1">
                <div class="container-text">
                    <figure>
                        <img src="https://upload.wikimedia.org/wikipedia/en/b/be/MBDTF_ALT.jpg" alt="Picture of Album Playing" height="200">
                        <h3 id = "dj_name">Current DJ: </h3>
                        <figcaption id = "current_song_info">Sample Song Name<br>Sample Artist Name<br>Sample Album Name</figcaption>
                    </figure>
                        <audio src="music.mp3" controls>
                            Your browser does not support the audio element.
                        </audio>
                </div>
            </div>
        </div>
        <div class="container" id="rightContainer">
            <h2>Current DJ Playlist</h2>
            <ul class="scrollable-list" id="djPlayListList">
                <li>DJ Name</li>
                <li>DJ Name</li>
                <li>DJ Name</li>
                <li>DJ Name</li>
                <li>DJ Name</li>
                <li>DJ Name</li>
            </ul>
        </div>
    </div>
    <a class="btn" href="/logout">Log Out</a>

